body {
  margin: 0;
  background: #ddd;
  font-family: "Raleway"; }

img {
  transition: all 0.3 ease-in; }
  img:hover {
    transform: scale(1.05); }

.intro {
  width: 80%;
  height: 85vh;
  margin: 0 auto;
  text-align: center; }
  .intro__img {
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    margin: 40px; }
  .intro h1 {
    font-size: larger;
    font-weight: 700; }
  .intro__article {
    width: 50%;
    margin: 0 auto;
    color: #403c49; }

.summary {
  clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
  min-height: 300px;
  padding: 100px;
  background-color: #24a37d;
  z-index: 1000;
  color: white; }
  .summary__header {
    transition: all 0.2 ease-in-out; }
  .summary__header:hover {
    transform: scale(1.01) translateY(-4px);
    text-shadow: 8px 0 10px #424242; }
  .summary__paragraph {
    width: 50%;
    padding-top: 30px;
    line-height: 2rem;
    text-align: justify; }

.form-style {
  margin: 50px;
  width: 60%; }

.contact {
  background-color: #24a37d;
  color: white;
  padding: 40px;
  text-align: center; }
