$lt-grey: #ddd;
$background-light: #24a37d;
$background-dark: #9f24a3;
$background-darker: #403c49;

body {
  margin: 0;
  background: $lt-grey;
  font-family: "Raleway";
}

img {
  transition: all 0.3 ease-in;
  &:hover {
    transform: scale(1.05);
  }
}

.intro {
  width: 80%;
  height: 85vh;
  margin: 0 auto;
  text-align: center;
  &__img {
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    margin: 40px;
  }
  h1 {
    font-size: larger;
    font-weight: 700;
  }
  &__article {
    width: 50%;
    margin: 0 auto;
    color: $background-darker;
  }
}

.summary {
  clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
  min-height: 300px;
  padding: 100px;
  background-color: $background-light;
  z-index: 1000;
  color: white;
  &__header {
    transition: all 0.2 ease-in-out;
  }
  &__header:hover {
    transform: scale(1.01) translateY(-4px);
    text-shadow: 8px 0 10px rgb(66, 66, 66);
  }
  &__paragraph {
    width: 50%;
    padding-top: 30px;
    line-height: 2rem;
    text-align: justify;
  }
}

.form-style {
  margin: 50px;
  width: 60%;
}

.contact {
  background-color: $background-light;
  color: white;
  padding: 40px;
  text-align: center;
}
